@import "@radix-ui/colors/mauve.css";

/* reset */
a {
  all: unset;
}

.HoverCardContent {
  border-radius: 6px;
  padding: 20px;
  width: 280px;
  background-color: white;
  position: relative;
  top: 12px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 500ms;
  animation-name: slideDownAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  span {
    top: 25% !important;
    visibility: visible !important;
  }

  .detail-content {
    gap: 4px;

    .text {
      font-size: 14px;

      &.overview {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .vote {
      align-items: center;
      gap: 4px;
      margin-top: 8px;

      .text {
        margin-top: 2px;
      }

      svg {
        color: #e2ab15;
      }
    }
  }
}

.HoverCardArrow {
  fill: white;
}

.ImageTrigger {
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
}
.ImageTrigger:focus {
  box-shadow: 0 0 0 2px white;
}

.Image {
  display: block;
  border-radius: 100%;
}
.Image.normal {
  width: 45px;
  height: 45px;
}
.Image.large {
  width: 60px;
  height: 60px;
}

.Text {
  margin: 0;
  color: var(--mauve-12);
  font-size: 15px;
  line-height: 1.5;
}
.Text.faded {
  color: var(--mauve-10);
}
.Text.bold {
  font-weight: 500;
}

@keyframes slideDownAndFade {
  0% {
    scale: 0.85;
  }
  100% {
    scale: 1;
  }
}
