.list-movie {
  gap: 18px;
  height: 375px;

  .top-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .custom-button-flickity {
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    position: relative !important;

    &:disabled {
      opacity: 0.3;
    }

    &:hover {
      background-color: rgba(85, 85, 89, 0.1);
    }
    &:focus {
      box-shadow: none;
    }
  }

  .section-list {
    height: 100%;
    overflow: auto;

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .item-list {
      width: 204px;
      height: fit-content;
      gap: 12px;
      cursor: pointer;

      &.loading {
        .movie-image {
          width: 180px !important;
          background-color: #555559;
          animation: blink 1.3s infinite ease-in-out;
          position: relative !important;
        }
      }

      .movie-image {
        height: auto !important;
        width: 180px !important;
        min-height: 250px;
        max-height: 250px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        position: relative !important;
        transition: opacity 0.4s;
        opacity: 0;

        &.flickity-lazyloaded,
        &.flickity-lazyerror {
          opacity: 1;
        }
      }

      .movie-detail {
        z-index: 1;

        .title {
          max-width: 180px;
          font-size: 14px;
          color: #555559;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &.ori {
            color: white;
            font-size: 16px;
          }

          &.loading {
            height: 15px;
            margin-top: 8px;
            background-color: #555559;
            animation: blink 1.3s infinite ease-in-out;
            width: 75%;
            border-radius: 6px;

            &.ori {
              height: 18px;
            }
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
