.list-movie {
  gap: 16px;
  height: 375px;

  .top-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .section-list {
    height: 100%;
    overflow: auto;

    /* no circle */
    .flickity-button {
      background: transparent;
    }
    /* big previous & next buttons */
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
    }
    /* icon color */
    .flickity-button-icon {
      fill: white;
    }
    /* hide disabled button */
    .flickity-button:disabled {
      display: none;
    }

    .flickity-viewport {
      height: 100% !important;
    }

    .flickity-slider {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .item-list {
      width: 204px;
      height: fit-content;
      overflow: hidden;
      gap: 12px;
      padding: 0 12px;
      cursor: pointer;

      .movie-image {
        height: auto !important;
        min-height: 270px;
        max-height: 270px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        position: relative !important;
      }

      .movie-detail {
        z-index: 1;

        .title-ori {
          color: white;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .title {
          font-size: 14px;
          color: #555559;
        }
      }
    }
  }
}
