@import "@radix-ui/colors/mauve.css";

/* reset */
a {
  all: unset;
}

.item-link {
  max-width: 210px;
  margin: 0 auto;
  display: block;

  .item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    overflow: hidden;

    .movie-image-skeleton {
      width: auto;
      height: 250px;
      border-radius: 16px;
      animation: blink 1.3s infinite ease-in-out;
    }

    .movie-image-wrapper {
      min-height: 250px;
      border-radius: 16px;
      position: relative !important;
      animation: blink 1.7s infinite ease-in-out;
      overflow: hidden;

      .movie-image {
        object-fit: cover;
        object-position: center top;
      }
    }

    .movie-detail {
      z-index: 1;

      .title {
        font-size: 14px;
        color: #555559;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.ori {
          color: white;
          font-size: 16px;
        }

        &.loading {
          height: 15px;
          margin-top: 8px;
          background-color: #555559;
          animation: blink 1.3s infinite ease-in-out;
          width: 75%;
          border-radius: 6px;

          &.ori {
            height: 18px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    max-width: 180px;

    .item-list {
      gap: 8px;

      .movie-image-skeleton {
        height: 225px;
      }

      .movie-image-wrapper {
        min-height: 225px;
      }

      .movie-detail {
        .title {
          font-size: 12px;

          &.ori {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.HoverCardContent {
  border-radius: 6px;
  padding: 20px;
  width: 280px;
  background-color: white;
  position: relative;
  top: 12px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 500ms;
  animation-name: slideDownAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  span {
    top: 25% !important;
    visibility: visible !important;
  }

  .detail-content {
    gap: 4px;

    .text {
      font-size: 14px;

      &.overview {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .vote {
      align-items: center;
      gap: 4px;
      margin-top: 8px;

      .text {
        margin-top: 2px;
      }

      svg {
        color: #e2ab15;
      }
    }
  }
}

.HoverCardArrow {
  fill: white;
}

@keyframes slideDownAndFade {
  0% {
    scale: 0.85;
  }
  100% {
    scale: 1;
  }
}

@keyframes blink {
  0% {
    // opacity: 0.2;
    background-color: rgba(85, 85, 89, 0.15);
  }
  50% {
    // opacity: 0.3;
    background-color: rgba(85, 85, 89, 0.25);
  }
  100% {
    // opacity: 0.2;
    background-color: rgba(85, 85, 89, 0.15);
  }
}
