* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Readex Pro", sans-serif;
}

$color-red: #ac1b1b;
$color-grey: #100f12;

body {
  background-color: $color-grey !important;
}

@mixin btn {
  padding: 6px 10px;
  width: fit-content;
  cursor: pointer !important;
}

.btn-primary {
  @include btn;
  background-color: $color-red !important;
  border: 2px solid #df1010 !important;
}

.btn-default {
  @include btn;
  background-color: #72717454 !important;
  border: 2px solid #696969 !important;
  backdrop-filter: blur(3px);
}

.layout-wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "aside header" "aside main";

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
  }
}

.content-404 {
  flex-direction: column;
  gap: 42px;
  align-items: center;
  justify-content: center !important;
  height: 100%;
  width: 100%;

  .text {
    font-size: 64px;
    color: #555559;
    text-align: center;
    line-height: 1.4em;
  }

  .btn-default {
    width: 130px;
    height: 45px;
    border-radius: 8px;
    border-width: 0 !important;

    &:focus {
      border-width: 2px !important;
    }
  }

  @media screen and (max-width: 1200px) {
    gap: 48px;

    .text {
      font-size: 56px;
    }
  }

  @media screen and (max-width: 740px) {
    gap: 32px;

    .text {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 540px) {
    gap: 24px;

    .text {
      font-size: 28px;
    }

    .btn-default {
      width: 120px;
      height: 40px;
      font-size: 12px;
    }
  }
}
