.grid-movie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 36px;
  padding: 0 38px 28px;
  width: auto;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    padding: 0 24px 24px;
    gap: 24px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    padding: 0 16px 16px;
    gap: 16px;
  }
}
