.content {
  grid-area: main;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  // @media screen and (min-width: 1200px) {
  //   max-width: 80%;
  // }

  // @media screen and (min-width: 1560px) {
  //   max-width: 85%;
  // }
}
