.sidebar {
  border-right: 1px solid #1b1c1c;
  width: 100%;
  min-width: 250px;
  max-width: 15%;
  height: 100vh;

  .logo {
    padding: 8px 16px 16px;
    color: white;

    .icon-logo {
      svg {
        padding: 8px;
        background-color: #ac1b1b;
        border: 2px solid #df1010;
        border-radius: 12px;
      }
    }

    .rt-Heading {
      color: #df1010;
      font-size: 18px;

      span {
        color: white;
      }
    }
  }

  .menu-header {
    font-size: 14px;
    padding: 0 16px;
    color: #555559;
  }

  .rt-Separator {
    width: 100%;
  }
}
